ANTHROPIC_API_KEY=
VOYAGEAI_API_KEY=
RAWG_API_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/ps_agent
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=ps-d2c-agent
LANGSMITH_ENDPOINT=https://aws.api.smith.langchain.com
LANGCHAIN_TRACING_V2=true
